* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  border: 5px solid rgb(122, 116, 116);
  margin: 0 auto;
  width: 600px;
}

main {
  padding: 0 1em 1em;
}

h1 {
  color: blue;
  margin: 15px;
}

label {
  float: left;
  clear: left;
  text-align: right;
  width: 10em;
  padding-bottom: 0.5em;
}

input {
  width: 10em;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 0.5em;
}

#mpg {
  background-color: rgb(238, 238, 238);
}

span {
  color: red;
}
